body {
	background-color:white;
}

#sideBar {
	font-family:arial, "lucida console", sans-serif; /* Schriftart */
	background-color:#454545;
	color:#dddddd;
	width: 350px;
	height: 100%;
	border-color: green;
	border-width: 5px;
	border-style: solid;
	float:left;
}
#mainContent {
	height: 100%;
	width:500px;
	background-color:#838383;
	border-color: red;
	border-width: 5px;
	border-style: solid;
	float:left;
}
